rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper Functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() && 
        (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin' ||
         (request.auth.token.email == "hieukutehl1@gmail.com" && request.auth.token.email_verified == true));
    }

    // Users Collection
    match /users/{userId} {
      allow read: if isAuthenticated() && request.auth.uid == userId;
      allow write: if isAdmin();
    }

    // Exams Collection
    match /exams/{examId} {
      allow read: if true; // Everyone can read exams to practice
      allow write: if isAdmin() && isValidExam(request.resource.data);
    }

    // Domain Validators
    function isValidExam(data) {
      return data.updatedAt is string &&
             data.updatedAt.matches("^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}.*Z?$");
    }
  }
}
